version: '3.8'

services:
  # --- NODO 1 ---
  node-1:
    build: .
    container_name: cypher-node-1
    # Nessun comando! Usa il CMD del Dockerfile
    ports:
      - "9001:9001"
      - "9999:9999/udp" # Opzionale: per vedere il traffico UDP dall'host
    volumes:
      - node1_data:/root/.cyphermesh
    networks:
      - dev_net

  # --- DASHBOARD NODO 1 ---
  dashboard-1:
    build: .
    container_name: cypher-web-1
    command: python -m cyphermesh.web.app
    ports:
      - "5050:5000"
    volumes:
      - node1_data:/root/.cyphermesh
    depends_on:
      - node-1
    networks:
      - dev_net

  # --- NODO 2 ---
  node-2:
    build: .
    container_name: cypher-node-2
    # Nessun comando!
    ports:
      - "9002:9001" # Mappiamo la 9001 interna alla 9002 esterna
    volumes:
      - node2_data:/root/.cyphermesh
    networks:
      - dev_net

volumes:
  node1_data:
  node2_data:

networks:
  dev_net: