version: '3.8'

services:
  # --- Node ---
  node:
    build: .
    # Opzionale: Se vuoi cambiare porta interna, usa CYPHER_PORT
    # environment:
    #   - CYPHER_PORT=9005 
    ports:
      - "9001:9001"
      - "9999:9999/udp"
    volumes:
      - cyphermesh_data:/root/.cyphermesh
    networks:
      - cyphernet

  # --- Node's dashboard ---
  dashboard:
    build: .
    command: python -m cyphermesh.web.app
    ports:
      - "5050:5000"
    volumes:
      - cyphermesh_data:/root/.cyphermesh
    depends_on:
      - node
    networks:
      - cyphernet

volumes:
  cyphermesh_data:

networks:
  cyphernet: